{% extends 'base.html' %}
{% block content %}
    {% if all_items %}
    <table>
        {% for things in all_items %}
            <tr>
            {% if things.completed %}
                <td><s>{{ things.item }}</s></td>
                <td><a href="{% url 'unstrike' things.id %}">Unstrike</a></td>
            {% else %}
                <td>{{ things.item }}</td>
                <td><a href="{% url 'strike' things.id %}">Strike</a></td>
            {% endif %}
                <td><a href="{% url 'delete' things.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}